{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>WebHostManager Login</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="login-container">

    <div class="brand-header">

    <img
        src="{% static 'images/innovate_logo.png' %}"
        alt="Innovate Logo"
        class="brand-logo">

    <h1>WebHostManager</h1>

</div>

    <br>
    {% if messages %}
    {% for message in messages %}
        <div style="
            background:#ffebee;
            color:#c62828;
            padding:10px;
            margin-bottom:15px;
            border-radius:5px;
            border:1px solid #ef9a9a;
        ">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="username"
        placeholder="Username">

    <input
        type="password"
        name="password"
        placeholder="Password">

    <button type="submit">
        Login
    </button>

</form>

</div>

</body>

</html>